body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #261a0d;
}

.header-container {
    display: flex;
    background-color: white;
    color: white;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

img {
    width: 300px;
}

.services-container {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #85a3e0;
    color: white;
    padding-top: 60px;
    gap: 100px;
}

.services-list {
    border: 2px solid #261a0d;
    padding: 100px 50px;
}

.services-text-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #85a3e0;
    color: white;
    gap: 50px;
    padding-bottom: 100px;
}

.services-text {
    padding: 5px 110px;
}

.contact-container {
    display: flex;
    color: #261a0d;
    font-weight: bold;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
    gap: 50px;
    flex-direction: column;
}

.contact-info {
    border: 2px solid #261a0d;
    background-color: #f6b758;
    padding: 50px;
}

.quote-container {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    background-color: #85a3e0;
    color: white;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.quote {

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    padding: 50px;
    background-color: white;
    color: #261a0d;
    font-weight: bold;
    position: 0;
    bottom: 0;
    width: 100%;
}

.footer-text {
    flex: 1;
}